@import './color.scss';
@import './font.scss';
@import './edge.scss';
@import './components.scss';

*{ 
    font-family: baskerville-urw !important;
    margin:0; padding:0 ; box-sizing: border-box;
    font-stretch: normal;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    ::-webkit-scrollbar { width: 8px; }
    ::-webkit-scrollbar-track { background-color: transparent; }
    ::-webkit-scrollbar-thumb { border-radius: 4px; background-color: #C0C0C0; }
    ::-webkit-scrollbar-thumb:hover { background-color: #c8c8c8; }
}
a {
    color: #323232;
    text-decoration: none;
  }

@media only screen and (min-width: 1000px) {
    .portal-layout {
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        background-color: $white;
        .nav-block {
            height: 20vh;
            padding: 4vh;
        }
        .nav-item {
            width: 14vw;
            height: 6vh;
        }
        .sidebar,.sidebar-block,.sidebar-item {
          display: none;
        }
      .img-block {
        display: flex;
        flex-direction: column;
        width: 40%;
      }
      .content-block {
        display: flex;
        flex-direction: row;
      }
    }
    
}

@media screen and (max-width: 1000px){
    .portal-layout {
        overflow-x: hidden;
        width: 100vw;
        height: 100%;
        background-color: $white;
    }
    .nav-block,.nav-item {
      div,span {
        display: none;
      }
        
    }
    .sidebar {
      position: absolute;
      top: 40px;
      left: 40px;
      width: 40px;
      height: 40px;
      
  }
  .sidebar-block {
    position: absolute;
      width: 30%;
      .sidebar-item {
          width: 100%;
          height: 60px;
          padding-top: 20px;
          padding-left: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: white;
          &.child {
            height: 40px;
          }
          .sidebar-text {
              margin: 10px;
          }
          .level-block {
              width: 40px;
          }
      }
      .content-block {
        display: flex;
        flex-direction: row;
      }
      .img-block {
        width: 100%;
    }
  }
}


//flex
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.display_center_start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .display_center_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .display_center_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .display_center_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .display_start_start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .display_start_between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .display_start_end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .display_end_start {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .display_end_center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .flex-justify-between {
    display: flex;
    justify-content: space-between;
  }
  .flex-justify-center{
    display: flex;
    justify-content: center
  }

//width
.w-100 {
    width: 100%;
}
.w-30per {
    width: 30%;
}

//height
.h-100 {
    height: 100%;
}
//cursor
.cursor_flag {
    &.cursor_pointer { cursor: pointer; }
    &.cursor_not_allowed { cursor: not-allowed; }
    &.cursor_grab { cursor: grab; }
    &.cursor_default { cursor: default; }
  }

//Hide
.isHide {
  display: none;
}
