

.float-window-wrapper {
    overflow: hidden;
    // @include window-mask-style;
    .window-mask { z-index: $sixthLayerIndex; }
    .float-window-field {
        opacity: 1;
        transform: none;
        min-width: 280px;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 0s cubic-bezier(0.4, 0, 0.2, 1);
        top: 48px;
        left: 297px;
        transform-origin: 0px 0px;
        animation: win 0.2s;
        @keyframes win {
            0% {transform: scale(0.7);}
            100% {transform: scale(1);}
        }
        position: fixed;
        padding: 1px;
        background-color: $white;
        border-radius: 8px;
        z-index: $seventhLayerIndex;
        overflow: hidden;
        // @include transparent-border;
        .float-window-loading-wrapper, .float-window-options-content {
            padding: 8px 0;
            max-height: 230px;
            overflow-y: auto;
        }
        .float-window-options-open {
            box-shadow: $Gradient_Blue_Base_To_Purple_Base;
            border-color: $Blue_Base;
            background-color: $white;
        }   
        .float-window-block { 
            .layer-padding-block{
              margin-left: 24px;
              background-color: $Gray_Light;
            }
            &.p-8 {
              padding: 8px;
            }
            padding: 10px 8px;
            &.border-top {
                border-top: 1px solid $Gray_Base;
            }
            &.bg-gray {
              background-color: $Gray_Lighter;
            }
            .add-calendar {
                padding: 2px;
                font-size: 16px;
                border: 1px solid $Gray_Base;
                border-radius: 4px;
                max-width: 120px;
                margin-right: 10px;
                outline:none;
            }
            .float-left{ &.icon_wrapper{ width: 18px; margin-right: 8px; .icon { width: 100%;} } }
            .float-center{ flex: 1; }
            &.active { background-color: $Blue_Base_10; .text{ font-weight: bold; color: $Blue_Base; } } 
            &:hover { background-color: $Blue_Base_10; .text{ font-weight: bold; color: $Blue_Base; } } 
        }
        
    }
  }


.triangle {
    border-color: #FFE4C4 transparent transparent transparent;
    border-style: solid solid solid solid; 
 
    /* 設定邊框依上、下；左右，各為一群組，相同群組須設定為相同尺寸，調整尺寸可拼湊出任意形狀的三角形 */
    border-width: 90px 45px ; 
 
    /* 設定 width、height 可更好理解原理 */
    height: 0px; 
    width: 0px;
    rotate: (180deg);
    // background-image: url('https://uc5c5733d49bbab186e9a445d4e5.previews.dropboxusercontent.com/p/thumb/AB7HD-9HjTdAtQY1y4IOLmogbmdlF5X86Brkt1uiNg9qCD4rNBuR4eRJDzsigXztcFljDg-8B03ggAnygkc4uCXkkgQPF-cOI6SI_DB_VueCbFVaXRVmAeCFVfNyaouuUKJ9HZHt-DK00ilrEzGrWlUlW5XDqQdwjX8fMni36kqYr2gN4PUoIg0PbhWiP2uZMBh2vY-uTF9p4lb2MZM-GDAACiHcwxL3OjdhBNSy-5MGGAAZdzGkoynAZDe_Pn1LQpQJitkBCYWfZPvLbcwJPZQz3Q9Pdk-l3JrZYXhYb5lHFi2jX52hE9tVJ6Jb9U1uXSqunnCBrsIXxxQ8oixgE1szx6VNoUOzXvHxnSWR76GCKZU-nIwkEsdjrUNlcH5fQC9wG4sKvc84wsT9NyEvxpiKIkqFKBqitmKe7JfDvAAx0xh3YNQXD_HBgq31-A2U9cclo26NXPT21NSTi0xJMokN/p.jpeg');
    animation: rotate-zoom-fade-out-trans 2s;
}
@keyframes rotate-style {
    0%{transform: rotate(0deg) scale(1,1)}
    99%{transform: rotate(360deg) scale(10,10)}
    100%{transform:scale(0,0)}
  }

  .rotate-zoom-fade-out {
  opacity: 1; /* 设置初始透明度为完全不透明 */
  transform: scale(1) rotate(0deg); /* 设置初始尺寸为正常大小和初始旋转角度为0度 */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out; /* 添加过渡效果，包括尺寸和透明度，持续时间为0.5秒，缓动函数为ease-in-out */
  // animation: rotate-style 2s;
}

@keyframes rotate-zoom-fade-out-trans {
  0% {
    opacity: 1; /* 设置初始透明度为完全不透明 */
  transform: scale(1) rotate(0deg); /* 设置初始尺寸为正常大小和初始旋转角度为0度 */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  }
  100% {
    opacity: 0; /* 鼠标悬停时将透明度设置为完全透明 */
    transform: scale(1.2) rotate(360deg); /* 鼠标悬停时将尺寸放大到1.2倍并旋转180度 */
  }
  
}

.img-opacity {
  // opacity: 1; /* 设置初始透明度为完全不透明 */
  // transition: opacity 2s ease-in-out;
  animation: img-trans 4s;
  transform-origin: 50% 30%;
}
.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}

@keyframes img-trans {
  0% {
    opacity: 0;
    transform: scale(0.3)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.triangle-image {
  position: relative;
  
}

.triangle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform-origin: center center;
  animation: test 2.5s;
   /* 设置裁剪路径为三角形的顶点坐标 */
}

@keyframes test {
  0% {
    // width: 100px; /* 调整容器的宽度和高度以适应图像大小 */
    // height: 100px;
    opacity: 0.5; /* 设置初始透明度为完全不透明 */
  transform: scale(0.2) rotate(0deg); /* 设置初始尺寸为正常大小和初始旋转角度为0度 */
  transition: transform 2.5s ease-in-out, opacity 2.5s ease-in-out;
  }
  100% {
    // width: 100%;
    // height: 100%;
    opacity: 1; /* 鼠标悬停时将透明度设置为完全透明 */
    transform: scale(1) rotate(360deg); 
  }
}